@model IEnumerable<LoadDistributionForTeachers.WEB.Models.LoadFlowViewModel>

@{
    ViewBag.Title = "CountLoad";
}

<h2>Суммарная лекционная нагрузка</h2>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Суммарная нагрузка
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfHoursOfLectures)
        </td>
        
        <td>
        </td>
    </tr>
}

</table>
